

$primary-color:#930f95; 

$primary-color-hover:lighten($primary-color, 10%);

$secondary-color:#b567ba; 

$secondary-color-hover:lighten($secondary-color, 10%);

$tertiary-color:#c58fca; 

$project1:#c368fd;

$project2:#e7cbfa;

$project3:#fcb3f3;

$project4:#facff5;

$project5:#fd91ef;

$project6:#d08efb;
